[Defaults]
dir_in  = /Users/neus/work-2019/data/
dir_out = /Users/neus/DEMO++/work-2020/ana-results
run     = 6721

s1e_min = 0
s1e_max = 100
s1e_bin = 50

s1w_min = 0
s1w_max = 0.8
s1w_bin = 33

s1h_min = 0
s1h_max = 10
s1h_bin = 100

s2e_min = 500
s2e_max = 8000
s2e_bin = 41

s2w_min = 0
s2w_max = 20
s2w_bin = 41

s2h_min = 0
s2h_max = 3000
s2h_bin = 50

s2q_range_min = 0
s2q_range_max = 1000

Nsipm_range_min = 0
Nsipm_range_max = 256
Nsipm_min = 0
Nsipm_max = 25

rfid    = 40
